/*RESET*/
* {
    margin: 0px;
    padding: 0px;
    /* PARA MANTER AS BORDAS (BORDER) INTERNAS: */
    box-sizing: border-box;

}

body {
    background-color:  rgb(215, 230, 250);;
    overflow: auto;
}

ol li{
    color: red;
    font-size: 20px;
}

ul li{
    color: green;
    font-size: 20px;
}

h1{
    color: chocolate;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

h3{
    color: cornflowerblue;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

p{
    color: rebeccapurple;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
menu {
    width: 100%;
    height: 60px;
    border: 4px double royalblue;
    background-color: yellow;
}

a {
    text-decoration: none;
    width: fit-content;
    margin: 0 22px;
    height: 48px;
    line-height: 48px;
    display: inline-block;

}

.container{
    width: 100%;
    
    /*AUMENTANDO O TAMANHO DA ALTURA A PARTIR DO VALOR MINIMO:*/
    min-height: 200px; /* O valor minimo é 200px*/

    background-color: rgb(30, 195, 203);
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    overflow: inherit; /* Herda a configuração do container pai <body>, que possui o overflow: auto;*/
}

.div1{
    width: 300px;
    height: 250px;
    background-color: red;
    border: 2px solid black;
}

.div2{
    width: 300px;
    height: 500px;
    background-color: red;
    border: 2px solid black;
    
}