/* UTILIZANDO FONTE DO GOOGLE*/
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&display=swap'); */


/*RESET DO CSS*/
* {
    margin: 0px;
    padding: 0px;
    /* PARA MANTER AS BORDAS (BORDER) INTERNAS: */
    box-sizing: border-box;
}

/* UTILIZANDO FONTE DO GOOGLE*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

body{
    background-color: white;
}
header{
    width: 100%;
    height: 64px;
    background-color: #c5cae9;
    /* padding: 20px; */
}

header nav{
    width: 1280px;
    height: 64px;
    margin: 0 auto;
    display: flex; /*SÓ FUNCIONA SE O ELEMENTO PAI TIVER UMA ALTURA E LARGURA */
    justify-content: space-between;
    align-items: center; /* ALINHA CENTRALIZADO NA VERTICAL */
}

a{
    text-decoration: none;
}

.logo{

}

menu{    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.barra-cinza{
    width: 100%;
    height: 22px;
    background-color: #cec4c4;
}

.banner img{
    width: 1279px;
    height: 340px;
    position: relative;

}

main{
    width: 1280px; /* MESMA LARGURA DO SITE*/
    margin: 0 auto;
    
}

.banner{
    width: 100%;
    height: 340px;
    position: relative;
}

.banner h1{
    width: fit-content;
    position: relative;
    top: -150px;
    left: 50px;
    color: #fafafa;
    font-size: 40px;
}
.serv,
.bicicletas ,
.cards{ /* CARDS DA BICICLETAS E DA HOME */
    width: 100%;
    margin: 16px 0;
    display: flex;
    /*justify-content: Esta propriedade define o alinhamento dos ítens ao longo do eixo principal. */
    justify-content: space-evenly;
    /* justify-content: space-between; */
    gap: 16px;
}

.card{ /* CARDS DA HOME*/
    width: 300px;
    height: 170px;
    background-color: gainsboro;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; /*ALINHA OS ELEMENTOS NA HORIZONTAL*/
    justify-content: center; /*CENTRALIZA OS ELEMENTOS NA VERTICAL*/
    box-shadow: 8px 9px 8px #21212140; /*COLOCANDO SOMBRA NO CARD*/
}

.card img{ /*CARDS DA HOME*/
    width: 80px;
}
.card h2{
    /* font-size: 35px;       */
}

/*Cards BICICLETAS*/
.serv,
.bicicletas{
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 21px;
}
.serv,
.bicicletas h1{
    font-size: 60px;
    color: black;
}

/* TIPOS DE BICICLETAS */
.tipos-bicicletas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px; /*ESPAÇAMENTO ENTRE OS CARD*/
}

/* AUMENTANDO O TAMANHO DO CARD. */
.tipos-bicicletas .card{
    width: 400px;
    height: 250px;
    overflow: hidden;
}

/* CONFIGURANDO O TAMANHO DA IMAGEM DO TIPO DA bicicleta. */

.tipos-bicicletas .card img{
    width: 100%;
    /* border-radius: 12px; */
}

/*CONFIGURANDO O LAYOUT DOS TIPOS DE BIKES*/
.bicicletas-detalhes{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center; /*ALINHA AO CENTRO VERTICAL*/
    gap: 16px;
}

.bicicletas-foto{
    width: 500px;
    height: 420px;
    border-radius: 12px;
    /* box-shadow: 0px 0px 4px #21212140; */
    /* overflow: auto; */
}

.bicicletas-img{
    width: 100%;
}

.bicicletas-info{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bicicletas-info h2{
    font-size: 22px;
}

.bicicletas-info h3{
    font-size: 20px;
}

.bicicletas-info ul{
    width: 100%;
    display: flex;
    gap: 16px;
}

.bicicletas-info ul li{
    width: 48px;
    height: 48px;
    background-color: red;
    border-radius: 50%;
    list-style-type: none; /*REMOVENDO OS MARCADORES DO li*/
}

/*BOLINHAS DE SELEÇÃO DE CORES DA BICICLETA*/
.bicicletas-info ul li:nth-child(1){
    background-color: red;
}
.bicicletas-info ul li:nth-child(2){
    background-color: orange;
}
.bicicletas-info ul li:nth-child(3){
    background-color: gray ;
}
.bicicletas-info ul li:nth-child(4){
    background-color: aqua; 
}


.bicicletas-info a{
    width: 100%;
    height: 70px;
    font-family: "Gemunu Libre", ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.bicicletas-info a:link, .bicicletas a:visited{
    background-color: #e4edfc;
    color: #4c95fe;
    font-size: 24px;
    border-radius: 15px;
}
.bicicletas-info a:hover{
    background: #00aac1;
    color: #fafafa;
}
.bicicletas-info a:active{
    color: yellow;
}

/* CIRCULO DA PAGINA SERVIÇOS*/
.circulos{
    display: flex;
    gap: 75px; /*ESPAÇAMENTOS ENTRE OS CIRCULOS.*/
}

.circulo{ /* CONFIGURAÇÕES DO CIRCULO*/
    width: 350px;
    height: 350px;
    border-radius: 47% 45%; /**ARREDONDADNO AS BORDAS CO CIRCULO.*/
    overflow: hidden;
    position: relative;
}

.circulo h2{
    position: relative;
    bottom: 110px;
    text-align: center;
    font-size: 50px;
    color: rgb(224, 80, 80);
}

.circulo img{ /*IMAGENS CONTIDAS NOS CIRCULOS.*/
    width: 350px;
    height: 350px;
}


footer{ /*RODAPé*/
    width: 100%;
    height: 30px;
    background-color: transparent;
    color: yellow black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 26/04 as 02:16:37 */