/*RESET DO CSS*/
* {
    margin: 0px;
    padding: 0px;
    /* PARA MANTER AS BORDAS (BORDER) INTERNAS: */
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 64px;
    background-color: #1b1b1b;
    /* padding: 20px; */
}

header nav{
    width: 1280px;
    height: 64px;
    margin: 0 auto;
}

/* video : 1:04:57 */