body {
    background-color: black;
}

ol li p{
    color: blue;
}

h2 {
    color: red;
}

ul{
    color: bisque;
}

ol {
    color: aquamarine;
}

dl{
    color: aliceblue;
}

img{
    position: relative;
}

span{
    background-color: yellow;
}

div{
    background-color: green;
}

dl .definicao dt p{
    color: yellowgreen;
}

li:hover{
    background-color: red;
}