body{
    font-size: larger;
}

.estrutura1:hover{
    border-top: 3px solid aquamarine;
    border-bottom: 3px solid aquamarine;
    border-left: 2px solid red;
    border-right: 2px solid blue;
    color: gold;
    padding: 5% 10%; /* vertical | horizontal */
}


ol li:hover{
    color: greenyellow;
}

ul li:active{
    color: rebeccapurple;
}

h3:hover{
    color: darkblue;
}

#descricao{
    font-family: 'Times New Roman', Times, serif;
    background-color: greenyellow;
    width: 50%;
    border: dotted;
    overflow: scroll;
    


}