
body{
    background-color: rgb(212, 244, 221);

}
#cabeçalho{
    position: relative;
    top: 0;
    border: 3px solid blue;
    
}

h1:hover, h2:hover{
    color: mediumaquamarine;
}

video{
    border: 3px solid aquamarine;
    width: 450px;
    padding: 1%;
}

ol li:active{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 56px;
}
a {
    text-decoration: none;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    width: 50%;
}

.titulo{
    font-size: 500;
}

footer{
    text-align: center;
}